<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="tictactoy-main-div">
        <div class="square-0-0" (click)="paint(0,0)"></div>
        <div class="square-0-1" (click)="paint(0,1)"></div>
        <div class="square-0-2" (click)="paint(0,2)"></div>
        <div class="square-1-0" (click)="paint(1,0)"></div>
        <div class="square-1-1" (click)="paint(1,1)"></div>
        <div class="square-1-2" (click)="paint(1,2)"></div>
        <div class="square-2-0" (click)="paint(2,0)"></div>
        <div class="square-2-1" (click)="paint(2,1)"></div>
        <div class="square-2-2" (click)="paint(2,2)"></div>
      </div>
    </div>
  </div>
</div>