<label>Category: </label><input type="text" name="category" [(ngModel)]="obj.category" placeholder="Category">
<!-- <label>email: </label><input type="email" name="email" [(ngModel)]="obj.email" placeholder="Email"> -->
<!-- <label>password: </label><input type="text" name="password" [(ngModel)]="obj.password" placeholder="Password"> -->
<!-- <label>gender: </label><input type="text" name="gender" [(ngModel)]="obj.gender" placeholder="Gender"> -->
<!-- <label>image: </label><input type="file" name="image" (change)="readFromFile($event)"> -->
<button (click)="send()">Send</button>